.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.user_info{
    font-family: 'Balsamiq Sans';
    display: flex;
    margin-top: 2vh;
}
.user_heading{
    font-family: 'Balsamiq Sans';
    display: flex;
    margin-top: 2vh;
    flex-direction: column;
    align-items: center;
}

.btn_change {
    font-family: 'Balsamiq Sans';
    width: 25vh;
    height: 4vh;
    font-size: 1em;
    border-radius: 10px;
    margin-top: 2vh;
    margin-bottom: 2.5vh;
    cursor: pointer;
    transition: 0.4s;
}

.btn_change:hover, .btn_change:focus {
    background-color:moccasin;
}

.user_pass_data {
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    height: 32vh;
}

.user_info_data {
    display: flex;
    flex-direction: column;
    margin-right: 8vh;
    border-radius: 15px;
}

.img {
    width: 6vh;
    height: 6vh;
    margin-top: 2vh;
}

.lable{
    font-size: 1em;
    margin-bottom: 0.5vh;
    margin-top: 1vh;
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.imputs{
    font-family: 'Balsamiq Sans';
    width: 24vh;
    height: 3vh;
    font-size: 16px;
    margin-bottom: 1vh;
    border-radius: 10px;
}