
.text_top{
    font-family: 'Balsamiq Sans';
    margin-bottom: 5px;
}
.wrapper_entru {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    margin-top: 8vh;
}

.password{
    font-family: 'Balsamiq Sans';
    margin-bottom: 2vh;
    height: 2.5vh;
    border-radius: 5px;
}

.email {
    font-family: 'Balsamiq Sans';
    margin-bottom: 1.5vh;
    height: 2.5vh; 
    border-radius: 5px;
}

.btn_entry{
    font-family: 'Balsamiq Sans';
    height: 3.5vh;
    width: 7vh;
    border-radius: 5px;
    cursor: pointer;
}

.btn_entry:hover, .btn_entry:focus{
    background-color:rgb(127, 255, 127);
}

.btn_entry_text {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.btn_registration {
    font-family: 'Balsamiq Sans';
    margin-top: 1.5vh;
    border-radius: 5px;
    cursor: pointer;
}
.btn_registration:hover, .btn_registration:focus{
    background-color:rgb(127, 255, 127);
}