body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.rm {
  background: red;
  border-radius: 50%;
  color: #fff;
  border: none;
  height: 3vh;
  width: 2.9vh;
}

.done {
  text-decoration: line-through;
}

.wrapper {
  display: flex;
  margin-bottom: 1rem;
}